<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Confirmation de Réservation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light text-center py-5">
  <div class="container">
    <h1 class="text-warning mb-4">Réservation bien Enregistrée !</h1>
    <p>Votre réservation a bien été enregistrée.</p>

    <a href="/queues" class="btn btn-outline-warning mt-3">Retour à la liste des films</a>
  </div>
</body>
</html>
